@page
@model BugTrackerApp.Pages.ProjectManagers.ViewManagerModel
@{
    ViewData["Title"] = "Manager Details";
}

<!--Desktop UI-->
<div class="container">
    <div class="my-5 mx-auto">
        <div class="card shadow bg-light">
            <div class="col-md-11 mx-auto">
                <h1 class="mt-3 text-center text-decoration-underline">Manager Details</h1>
                <hr />
                <div class="card px-5 py-5 mx-5 my-5 shadow">
                    <div class="row my-5">
                        <div class="col">
                            <div class="form-outline">
                                <h3 class="text-decoration-underline">First Name</h3>
                                <h5 class="fw-light">@Html.DisplayFor(modelItem => modelItem.ProjectManager.FirstName)</h5>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <h3 class="text-decoration-underline">Last Name</h3>
                                <h5 class="fw-light">@Html.DisplayFor(modelItem => modelItem.ProjectManager.LastName)</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col">
                            <div class="form-outline">
                                <h3 class="text-decoration-underline">Manager Id</h3>
                                <h5 class="fw-light">@Html.DisplayFor(modelItem => modelItem.ProjectManager.ProjectManagerId)</h5>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <h3 class="text-decoration-underline">Hire Date</h3>
                                <h5 class="fw-light">@Html.DisplayFor(modelItem => modelItem.ProjectManager.HireDate)</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col">
                            <div class="form-outline">
                                <h3 class="text-decoration-underline">Address</h3>
                                <h5 class="fw-light">@Html.DisplayFor(modelItem => modelItem.ProjectManager.Address)</h5>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <h3 class="text-decoration-underline">Zip Code</h3>
                                <h5 class="fw-light">@Html.DisplayFor(modelItem => modelItem.ProjectManager.Zip)</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col">
                            <div class="form-outline">
                                <h3 class="text-decoration-underline">Phone Number</h3>
                                <h5 class="fw-light">@Html.DisplayFor(modelItem => modelItem.ProjectManager.Phone)</h5>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <form method="post" asp-page-handler="Delete" asp-route-id="@Model.ProjectManager.ProjectManagerId">
                            <a class="btn btn-secondary shadow" asp-page="/ProjectManagers/ProjectManagerIndex">Back</a>
                            <button class="btn btn-danger shadow" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>