@page 
@model IndexModel
@{
    ViewData["Title"] = "Bugs page";
}

<div class="container mt-5">
        <div class="mb-3">
        </div>
        <!--UI for mobile view-->
        <div class="row my-5">
            @foreach (var Bug in Model.Bugs)
            {
                <div class="col-md-4 mb-3">
                    <div class="card mb-3 shadow bg-light">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/images/laptop-bug.png" class="img-fluid center-image mobile-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title text-center" id="text-underline">Bug Id: @Html.DisplayFor(modelItem => Bug.BugId)</h5>
                                    <p class="card-text text-center">@Html.DisplayFor(modelItem => Bug.Description)</p>
                                    <p class="card-text text-center"><small class="text-muted">Date Submitted: @Html.DisplayFor(modelItem => Bug.Date)</small></p>
                                    <form method="post" asp-page-handler="View" asp-route-id="@Bug.BugId">
                                        <a class="card-link" asp-page="ViewBug" asp-route-id="@Bug.BugId"></a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!--UI for desktop view-->
        <div class="row my-5">
            @foreach (var Bug in Model.Bugs)
            { 
                <div class="col-md-4 mb-3">
                    <div class="card mb-3 shadow bg-light">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/images/laptop-bug.png" class="img-fluid center-image transform-image" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title mx-auto" id="text-underline">Bug Id: @Html.DisplayFor(modelItem => Bug.BugId)</h5>
                                    <p class="card-text">@Html.DisplayFor(modelItem => Bug.Description)</p>
                                    <p class="card-text"><small class="text-muted">Date Submitted: @Html.DisplayFor(modelItem => Bug.Date)</small></p>
                                    <form method="post" asp-page-handler="View" asp-route-id="@Bug.BugId">
                                        <a class="card-link" asp-page="ViewBug" asp-route-id="@Bug.BugId"></a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center">
            <a class="my-5 btn btn-md btn-secondary shadow" href="/Bugs/AddBug">+ Add a bug</a>
        </div>
</div>