@page
@model BugTrackerApp.Pages.ViewBugModel
@{
    ViewData["Title"] = "Bug Details";
}

<!--Desktop UI-->
<div class="container">
    <div class="card px-5 py-5 mx-5 my-5 shadow light">
        <h1 class="mb-5 text-primary text-decoration-underline">Bug Details</h1>
        <div class="row my-5">
            <div class="col">
                <div class="form-outline">
                    <h4 class="text-decoration-underline">Project</h4>
                    <h5>@Html.DisplayFor(modelItem => modelItem.Project.ProjectTitle)</h5>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <h4 class="text-decoration-underline">Bug Id</h4>
                    <h5>@Html.DisplayFor(modelItem => modelItem.Bug.BugId)</h5>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col">
                <div class="form-outline">
                    <h4 class="text-decoration-underline">Date Submitted</h4>
                    <h5>@Html.DisplayFor(modelItem => modelItem.Bug.Date)</h5>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <h4 class="text-decoration-underline">Priority Level</h4>
                    <h5>@Html.DisplayFor(modelItem => modelItem.Bug.Priority)</h5>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col">
                <div class="form-outline">
                    <h4 class="text-decoration-underline">Assigned-To</h4>
                    <h5>@Html.DisplayFor(modelItem => modelItem.Bug.Assignment)</h5>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <h4 class="text-decoration-underline">Description</h4>
                    <h5>@Html.DisplayFor(modelItem => modelItem.Bug.Description)</h5>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <form method="post" asp-page-handler="Delete" asp-route-id="@Model.Bug.BugId">
                <a class="btn btn-secondary shadow" asp-page="/Bugs/Index">Back</a>
                <a class="btn btn-dark shadow" asp-page="EditBug" asp-route-id=@Model.Bug.BugId>Edit Bug</a>
                <button class="btn btn-danger shadow" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
