@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mx-auto">
    <div class="container" id="container_items">
        <div class="mb-3">
        </div>
        <div class="row shadow d-sm-inline-flex d-none" style="border-radius:0%; padding:0%;">
            <div class="col bg-dark d-none d-sm-block">
                s
            </div>
            <div class="col bg-dark text-light text-leading d-none d-sm-block">
                Date
            </div>
            <div class="col bg-dark text-light">
                Description
            </div>
            <div class="col bg-dark text-light">
                Priority
            </div>
            <div class="col bg-dark text-light">
                Assigned-To
            </div>
            <div class="col bg-dark">
                s
            </div>
        </div>

        <!--UI for mobile view-->
        @foreach (var Bug in Model.Bugs)
        {
            <div class="row d-sm-none shadow">
                <div class="col-md-10 mx-auto">
                    <img src="images/fixing-problem.png" class="w-25"/>
                    <h2 class="mt-3"><span class="text-primary">Bug</span> <span class="text-secondary">Details</span></h2>
                    <hr />
                    <dl class="dl-horizontal mt-4 mx-auto">
                        <dt id="text_underline">@Html.DisplayNameFor(modelItem => Bug.Id)</dt>
                        <dd class="mb-4">@Html.DisplayFor(modelItem => Bug.Id)</dd>

                        <dt id="text_underline">@Html.DisplayNameFor(model => Bug.Date)</dt>
                        <dd class="mb-4">@Html.DisplayFor(modelItem => Bug.Date)</dd>

                        <dt id="text_underline">@Html.DisplayNameFor(model => Bug.Description)</dt>
                        <dd class="mb-4">@Html.DisplayFor(modelItem => Bug.Description)</dd>

                        @if (Bug.Priority == "Low")
                        {
                            <dt id="text_underline">@Html.DisplayNameFor(model => Bug.Priority)</dt>
                            <dd id="low_priority" class="mb-4">@Html.DisplayFor(modelItem => Bug.Priority)</dd>
                        }
                        @if (Bug.Priority == "Medium")
                        {
                            <dt id="text_underline">@Html.DisplayNameFor(model => Bug.Priority)</dt>
                            <dd id="medium_priority" class="mb-4">@Html.DisplayFor(modelItem => Bug.Priority)</dd>
                        }
                        @if (Bug.Priority == "High")
                        {
                            <dt id="text_underline">@Html.DisplayNameFor(model => Bug.Priority)</dt>
                            <dd id="high_priority" class="mb-4">@Html.DisplayFor(modelItem => Bug.Priority)</dd>
                        }

                        <dt id="text_underline">@Html.DisplayNameFor(model => Bug.Assignment)</dt>
                        <dd id="assignment" class="mb-4">@Html.DisplayFor(modelItem => Bug.Assignment)</dd>
                    </dl>
                    <div class="mb-4">
                        <form method="post" id="center_text" asp-page-handler="View" asp-route-id="@Bug.Id">
                            <a class="btn btn-sm btn-dark shadow" asp-page="ViewBug" asp-route-id="@Bug.Id">View</a>
                        </form>
                    </div>
                </div>
            </div>
        }

        <!--UI for desktop view-->
        @foreach (var Bug in Model.Bugs)
        {
            <div class="row shadow d-sm-inline-flex d-none" id="row_hover">
                <div class="col">
                    <img src="images/fixing-problem.png" class="w-25">
                </div>
                <div class="col">
                    @Html.DisplayFor(modelItem => Bug.Date)
                </div>
                <div class="col">
                    @Html.DisplayFor(modelItem => Bug.Description)
                </div>
                <div class="col">
                    @if (Bug.Priority == "Low")
                    {
                        <div id="low_priority" class="shadow">@Html.DisplayFor(modelItem => Bug.Priority)</div>
                    }
                    @if (Bug.Priority == "Medium")
                    {
                        <div id="medium_priority" class="shadow">@Html.DisplayFor(modelItem => Bug.Priority)</div>
                    }
                    @if (Bug.Priority == "High")
                    {
                        <div id="high_priority" class="shadow">@Html.DisplayFor(modelItem => Bug.Priority)</div>
                    }
                </div>
                <div class="col">
                    <div id="assignment" class="shadow">
                        @Html.DisplayFor(modelItem => Bug.Assignment)
                    </div>
                </div>
                <div class="col">
                    <form method="post" asp-page-handler="View" asp-route-id="@Bug.Id">
                        <a class="btn btn-sm btn-dark shadow" asp-page="ViewBug" asp-route-id="@Bug.Id">View</a>
                    </form>
                </div>
            </div>
        }

    <div class="mx-auto">
        <a class="my-5 btn btn-md btn-secondary mx-auto shadow" href="AddBug" style="display: inline-flex">+ Add</a>
    </div>
    </div>
</div>

