@page
@model BugTrackerApp.Pages.ViewBugModel
@{
    ViewData["Title"] = "Bug Details";
}

<div class="container">
    <h2 class="mt-3">Bug Details</h2>
    <hr />
    <div class="my-5">
        <div class="row">
            <div class="col-md-11 mx-auto">
                <dl class="dl-horizontal mt-4">
                    <dt>@Html.DisplayNameFor(model => model.bug.Id)</dt>
                    <dd class="mb-4">@Html.DisplayFor(model => model.bug.Id)</dd>

                    <dt>@Html.DisplayNameFor(model => model.bug.Date)</dt>
                    <dd class="mb-4">@Html.DisplayFor(model => model.bug.Date)</dd>

                    <dt>@Html.DisplayNameFor(model => model.bug.Description)</dt>
                    <dd class="mb-4">@Html.DisplayFor(model => model.bug.Description)</dd>

                    <dt>@Html.DisplayNameFor(model => model.bug.Priority)</dt>
                    <dd class="mb-4">@Html.DisplayFor(model => model.bug.Priority)</dd>

                    <dt>@Html.DisplayNameFor(model => model.bug.Assignment)</dt>
                    <dd class="mb-4">@Html.DisplayFor(model => model.bug.Assignment)</dd>
                </dl>
                <div class="mb-4">
                    <form method="post" asp-page-handler="Delete" asp-route-id="@Model.bug.Id">
                        <a class="btn btn-secondary" asp-page="/Index">Back To Homepage</a>
                        <a class="btn btn-dark" asp-page="EditBug" asp-route-id=@Model.bug.Id>Edit Bug</a>
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
