@page
@model BugTrackerApp.Pages.ViewBugModel
@{
    ViewData["Title"] = "Bug Details";
}

<div class="container">
    <h2>Bug Details</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.bug.Id)</dt>
        <dd class="mb-4">@Html.DisplayFor(model => model.bug.Id)</dd>

        <dt>@Html.DisplayNameFor(model => model.bug.Date)</dt>
        <dd class="mb-4">@Html.DisplayFor(model => model.bug.Date)</dd>

        <dt>@Html.DisplayNameFor(model => model.bug.Description)</dt>
        <dd class="mb-4">@Html.DisplayFor(model => model.bug.Description)</dd>

        <dt>@Html.DisplayNameFor(model => model.bug.Priority)</dt>
        <dd class="mb-4">@Html.DisplayFor(model => model.bug.Priority)</dd>

        <dt>@Html.DisplayNameFor(model => model.bug.Assignment)</dt>
        <dd class="mb-4">@Html.DisplayFor(model => model.bug.Assignment)</dd>
    </dl>
    <div>
        <a asp-page="/Index">Back To Homepage</a>
    </div>
</div>
