@page
@model BugTrackerApp.Pages.ViewBugModel
@{
    ViewData["Title"] = "Bug Details";
}

<div class="container">
    <div class="my-5 mx-auto" id="container_items">
        <div class="new-row shadow">
            <div class="col-md-11 mx-auto">
                <h2 class="mt-3 mx-auto"><span class="text-primary">Bug</span> <span class="text-secondary">Details</span></h2>
                <hr />
                <dl class="dl-horizontal mt-4">
                    <dt>@Html.DisplayNameFor(modelItem => modelItem.Bug.BugId)</dt>
                    <dd class="mb-4">@Html.DisplayFor(modelItem => modelItem.Bug.BugId)</dd>

                    <dt>Project</dt>
                    <dd class="mb-4">@Html.DisplayFor(modelItem => modelItem.Project.ProjectTitle)</dd>

                    <dt>@Html.DisplayNameFor(modelItem => modelItem.Bug.Date)</dt>
                    <dd class="mb-4">@Html.DisplayFor(model => model.Bug.Date)</dd>

                    <dt>@Html.DisplayNameFor(modelItem => modelItem.Bug.Description)</dt>
                    <dd class="mb-4">@Html.DisplayFor(modelItem => modelItem.Bug.Description)</dd>

                    <dt>@Html.DisplayNameFor(modelItem => modelItem.Bug.Priority)</dt>
                    <dd class="mb-4">@Html.DisplayFor(modelItem => modelItem.Bug.Priority)</dd>

                    <dt>@Html.DisplayNameFor(modelItem => modelItem.Bug.Assignment)</dt>
                    <dd class="mb-4">@Html.DisplayFor(modelItem => modelItem.Bug.Assignment)</dd>
                </dl>
                <div class="mb-4">
                    <form method="post" asp-page-handler="Delete" asp-route-id="@Model.Bug.BugId">
                        <a class="btn btn-secondary shadow" asp-page="/Index">Home</a>
                        <a class="btn btn-dark shadow" asp-page="EditBug" asp-route-id=@Model.Bug.BugId>Edit Bug</a>
                        <button class="btn btn-danger shadow" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
