@page
@model BugTrackerApp.Pages.ProjectIndexModel
@{
    ViewData["Title"] = "Projects Page";
}

<div class="mx-auto">
    <div class="container mx-auto" id="container_items">
        <div class="mb-3">
        </div>
        <!--UI for mobile view-->
        @foreach (var Project in Model.Projects)
        {
            <div class="new-row d-sm-none shadow">
                <div class="col-md-10 mx-auto">
                    <img src="images/fixing-problem.png" class="w-25" />
                    <h2 class="mt-3"><span class="text-primary">Project</span> <span class="text-secondary">Details</span></h2>
                    <hr />
                    <dl class="dl-horizontal mt-4 mx-auto">
                        <dt id="text_underline">@Html.DisplayNameFor(modelItem => Project.ProjectId)</dt>
                        <dd class="mb-4">@Html.DisplayFor(modelItem => Project.ProjectId)</dd>

                        <dt id="text_underline">@Html.DisplayNameFor(modelItem => Project.Date)</dt>
                        <dd class="mb-4">@Html.DisplayFor(modelItem => Project.Date)</dd>

                        <dt id="text_underline">@Html.DisplayNameFor(modelItem => Project.Description)</dt>
                        <dd class="mb-4">@Html.DisplayFor(modelItem => Project.Description)</dd>

                        @if (Project.Priority == "Low")
                        {
                            <dt id="text_underline">@Html.DisplayNameFor(modelItem => Project.Priority)</dt>
                            <dd id="low_priority" class="mb-4">@Html.DisplayFor(modelItem => Project.Priority)</dd>
                        }
                        @if (Project.Priority == "Medium")
                        {
                            <dt id="text_underline">@Html.DisplayNameFor(modelItem => Project.Priority)</dt>
                            <dd id="medium_priority" class="mb-4">@Html.DisplayFor(modelItem => Project.Priority)</dd>
                        }
                        @if (Project.Priority == "High")
                        {
                            <dt id="text_underline">@Html.DisplayNameFor(modelItem => Project.Priority)</dt>
                            <dd id="high_priority" class="mb-4">@Html.DisplayFor(modelItem => Project.Priority)</dd>
                        }
                    </dl>
                    <div class="mb-4">
                        <form method="post" id="center_text" asp-page-handler="View" asp-route-id="@Project.ProjectId">
                            <a class="btn btn-sm btn-dark shadow" asp-page="ViewProject" asp-route-id="@Project.ProjectId">View</a>
                        </form>
                    </div>
                </div>
            </div>
        }
        <!--UI for desktop view-->
        <div class="row mx-auto d-sm-inline-flex d-none">
            @foreach (var Project in Model.Projects)
            {
                <div class="col-3 mb-3">
                    <div class="card new-row" id="row_hover">
                        <h5 class="card-title mx-auto mt-3">Date</h5>
                        <div class="mx-auto" id="card-text">
                            @Html.DisplayFor(modelItem => Project.Date)
                        </div>
                        <h5 class="card-title mt-4 mx-auto">Short Description</h5>
                        <div class="mx-auto px-2" id="card-text">
                            @Html.DisplayFor(modelItem => Project.Description)
                        </div>
                        <h5 class="card-title mt-4 mx-auto">Priority</h5>
                        @if (Project.Priority == "Low")
                        {
                            <div id="low_priority" class="shadow mx-auto mb-3">@Html.DisplayFor(modelItem => Project.Priority)</div>
                        }
                        @if (Project.Priority == "Medium")
                        {
                            <div id="medium_priority" class="shadow mx-auto mb-3">@Html.DisplayFor(modelItem => Project.Priority)</div>
                        }
                        @if (Project.Priority == "High")
                        {
                            <div id="high_priority" class="shadow mx-auto mb-3">@Html.DisplayFor(modelIteam => Project.Priority)</div>
                        }
                        <div class="mx-auto">
                            <form method="post" asp-page-handler="View" asp-route-id="@Project.ProjectId">
                                <a class="btn btn-sm btn-secondary shadow mx-auto mt-5" asp-page="ViewProject" asp-route-id="@Project.ProjectId">View Project</a>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="mx-auto">
            <a class="my-5 btn btn-md btn-secondary mx-auto shadow" href="AddProject" style="display: inline-flex">+ Add a project</a>
        </div>
    </div>
</div>
