@page
@model BugTrackerApp.Pages.ProjectIndexModel
@{
    ViewData["Title"] = "Projects Page";
}

<div class="container mx-auto mt-5">
    <div class="mb-3">
    </div>
    <!--UI for mobile view-->
    <div class="row my-5 d-sm-none">
        @foreach (var Project in Model.Projects)
        {
            <div class="col-md-4 mb-3">
                <div class="card mb-3 shadow bg-light">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/images/project-picture.png" class="w-25 mt-5" alt="project document picture">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title text-center" id="text-underline">@Html.DisplayFor(modelItem => Project.ProjectTitle)</h5>
                                <p class="card-text text-center">@Html.DisplayFor(modelItem => Project.Description)</p>
                                <p class="card-text text-center"><small class="text-muted">Start Date: @Html.DisplayFor(modelItem => Project.Date)</small></p>
                                <form method="post" asp-page-handler="View" asp-route-id="@Project.ProjectId">
                                    <a class="card-link" asp-page="ViewProject" asp-route-id="@Project.ProjectId"></a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!--UI for desktop view-->
    <div class="row my-5 d-sm-inline-flex d-none">
        @foreach (var Project in Model.Projects)
        {
            <div class="col-md-4 mb-3">
                <div class="card mb-3 shadow bg-light">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/images/project-picture.png" class="img-fluid center-image transform-image" alt="project document picture">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title mx-auto" id="text-underline">@Html.DisplayFor(modelItem => Project.ProjectTitle)</h5>
                                <p class="card-text">@Html.DisplayFor(modelItem => Project.Description)</p>
                                <p class="card-text"><small class="text-muted">Start Date: @Html.DisplayFor(modelItem => Project.Date)</small></p>
                                <form method="post" asp-page-handler="View" asp-route-id="@Project.ProjectId">
                                    <a class="card-link" asp-page="ViewProject" asp-route-id="@Project.ProjectId"></a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="text-center">
        <a class="my-5 btn btn-md btn-secondary shadow" href="AddProject">+ Add a project</a>
    </div>
</div>