@page
@model BugTrackerApp.Pages.Projects.ViewProjectModel
@{
    ViewData["Title"] = "Project Details";
}

<div class="container">
    <div class="my-5 mx-auto" id="container_items">
        <div class="new-row shadow">
            <div class="col-md-11 mx-auto">
                <h2 class="mt-3 mx-auto"><span class="text-primary">Bug</span> <span class="text-secondary">Details</span></h2>
                <hr />
                <dl class="dl-horizontal mt-4">
                    <dt>@Html.DisplayNameFor(modelItem => modelItem.Project.ProjectId)</dt>
                    <dd class="mb-4">@Html.DisplayFor(modelItem => modelItem.Project.ProjectId)</dd>

                    <dt>Project</dt>
                    <dd class="mb-4">@Html.DisplayFor(modelItem => modelItem.ProjectManager.FirstName) @Html.DisplayFor(modelItem => modelItem.ProjectManager.LastName)</dd>

                    <dt>@Html.DisplayNameFor(modelItem => modelItem.Project.Date)</dt>
                    <dd class="mb-4">@Html.DisplayFor(model => model.Project.Date)</dd>

                    <dt>@Html.DisplayNameFor(modelItem => modelItem.Project.ProjectTitle)</dt>
                    <dd class="mb-4">@Html.DisplayFor(modelItem => modelItem.Project.ProjectTitle)</dd>

                    <dt>@Html.DisplayNameFor(modelItem => modelItem.Project.Description)</dt>
                    <dd class="mb-4">@Html.DisplayFor(modelItem => modelItem.Project.Description)</dd>

                    <dt>@Html.DisplayNameFor(modelItem => modelItem.Project.Priority)</dt>
                    <dd class="mb-4">@Html.DisplayFor(modelItem => modelItem.Project.Priority)</dd>
                </dl>
                <div class="mb-4">
                    <form method="post" asp-page-handler="Delete" asp-route-id="@Model.Project.ProjectId">
                        <a class="btn btn-secondary shadow" asp-page="/Bugs/Index">Home</a>
                        <a class="btn btn-dark shadow" asp-page="EditBug" asp-route-id=@Model.Project.ProjectId>Edit Bug</a>
                        <button class="btn btn-danger shadow" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>